* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.container {
    display: flex;
}

.navigasi {
    width: 250px;
    background-color: #FF1493;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.judul {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gambar {
    width: 100%;
    text-align: center;
}

img {
    width: 50%;
    border-radius: 50%;
}

h2 {
    color: white;
}

.list {
    width: 100%;
}

ul {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

li {
    margin-right: 30px;
    border-bottom: 1px solid white;
    padding: 20px 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4B4B4B;
    transition: 0.1s;
}

.konten {

    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* Ubah dari center ke start */
    min-height: 300px;
    /* Atur tinggi minimum */
}


.isi-konten {
    background-color: #FF1493;
    width: 95%;
    height: 200px;
    margin: 30px auto;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 20px;
}

.welcome {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.isi-welcome {
    font-size: 20px;
}



.judul-bulan {
    font-size: 30px;
    font-weight: bold;
}

.judul-konten {
    display: flex;
    margin-bottom: 25px;
}

.bulan,
.harian {
    width: 50%;
    text-align: center;
}

.judul-bulan,
.judul-harian {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}


/* Styling untuk dropdown */
select {
    padding: 8px 12px;
    font-size: 1rem;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

select:hover {
    border-color: #888;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


select:focus {
    outline: none;
    border-color: #FF1493;
    box-shadow: 0 0 6px #e41282;
}

#date-select {
    /* width: 100%; */
    padding: 8px 12px;
    font-size: 1rem;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#date-select:hover {
    border-color: #888;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#date-select:focus {
    outline: none;
    border-color: #FF1493;
    box-shadow: 0 0 6px #e41282;
}

.con-card {
    display: flex;
    gap: 1rem;
    /* Jarak antar kartu */
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;

}

.card-dash {
    background-color: #ffffff;
    /* Warna latar belakang kartu */
    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title h3 {
    margin: 0.5rem 0;
    /* Jarak antar elemen <h3> */
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    /* Warna teks */
}

#transaksi-bulan,
#pendapatan-bulan,
#transaksi-tanggal,
#pendapatan-tanggal {
    font-size: 1.5rem;
    color: #007bff;
    /* Warna biru untuk angka */
    font-weight: bold;
}