<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Foto - Dashboard</title>
    <link rel="stylesheet" href="/petugas/style/index.css">
    <link rel="icon" href="../images/logo.jpg" type="image/jpg">
    <style>
        
    </style>
</head>
<body>
    
<div class="container">

    <div class="navigasi">
        <div class="judul">
            <div class="gambar">
                <img src="../images/logo.jpg" alt="">
            </div>
            <h2>Family Foto</h2>
        </div>
        
        <div class="list">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/petugas/kasir.html">Kasir</a></li>
                <li><a href="/petugas/data-penjualan.html">Data Penjualan</a></li>
                <li><a href="#" onclick="handleLogout(event)">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="konten">
        <div class="isi-konten">
            <p class="welcome" id="nama_lengkap"></p>
            <p class="isi-welcome" id="role"></p>
        </div>

        <div class="bulan">
            <p class="judul-bulan" id="bulan-transaksi"> Transaksi Bulan</p>
            <select id="month-select" name="month">
                <option value="january">Januari</option>
                <option value="february">Februari</option>
                <option value="march">Maret</option>
                <option value="april">April</option>
                <option value="may">Mei</option>
                <option value="june">Juni</option>
                <option value="july">Juli</option>
                <option value="august">Agustus</option>
                <option value="september">September</option>
                <option value="october">Oktober</option>
                <option value="november">November</option>
                <option value="december">Desember</option>
            </select>
            
            <select id="year-select" name="year">
                <option value="2025">2025</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>

            </select>
        </div>

        <div class="con-card">

            <div class="card-dash">
                <div class="card-title">
                    <h3> Total Transaksi</h3>
                    <h3 id="transaksi-bulan"></h3>
                </div>
            </div>
    
            <div class="card-dash">
                <div class="card-title">
                    <h3> Total Pendapatan</h3>
                    <h3 id="pendapatan-bulan"></h3>
                </div>
            </div>
    
        </div>

        <div>
            <h3>Transaksi Harian</h3>
            <label for="date-select">Pilih Tanggal:</label>
            <input type="date" id="date-select">
        </div>

        <div class="con-card">

            <div class="card-dash">
                <div class="card-title">
                    <h3> Total Transaksi</h3>
                    <h3 id="transaksi-tanggal"></h3>
                </div>
            </div>
    
            <div class="card-dash">
                <div class="card-title">
                    <h3> Total Pendapatan</h3>
                    <h3 id="pendapatan-tanggal"></h3>
                </div>
            </div>
    
        </div>
        
    </div>
</div>
<script src="/petugas/script/script.js"></script>

</body>
</html>