<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Foto - Dashboard</title>
    <link rel="stylesheet" href="/admin-persediaan/style/index.css">
    <link rel="icon" href="../images/logo.jpg" type="image/jpg">
    <style>
        
    </style>
</head>
<body>
    
<div class="container">

    <div class="navigasi">
        <div class="judul">
            <div class="gambar">
                <img src="../images/logo.jpg" alt="">
            </div>
            <h2>Family Foto</h2>
        </div>
        
        <div class="list">
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/admin-persediaan/data-barang.html">Data Barang</a></li>
                <li><a href="/admin-persediaan/data-barang-masuk.html">Data Barang Masuk</a></li>
                <li><a href="#" onclick="handleLogout(event)">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="konten">
        <div class="isi-konten">
            <p class="welcome" id="nama_lengkap"></p>
            <p class="isi-welcome" id="role">Saat ini anda login dengan role </p>
        </div>
    </div>
</div>
<script>


function getCookieValue(cookieName) {
            const cookies = document.cookie.split('; ');
            
            for (let i = 0; i < cookies.length; i++) {
                const [key, value] = cookies[i].split('=');
                if (key === cookieName) {
                    return decodeURIComponent(value); 
                }
            }
            return null;
        }

        const username = getCookieValue('nama_lengkap');
        console.log(username)
    
        if (username) {
            document.getElementById('nama_lengkap').textContent = ` Selamat datang, ${username}`;
        } else {
            document.getElementById('nama_lengkap').textContent = 'Anonymous';
        }

        const role = getCookieValue('role');
        console.log(role)

        if (role) {
            document.getElementById('role').textContent =` Saat ini anda login dengan role ${role}`;
        } else {
            document.getElementById('role').textContent = 'Anonymous';
        }

async function handleLogout(event) {
    event.preventDefault();
    
    if (confirm("Apakah Anda yakin ingin logout?")) {
        try {
            const response = await fetch('/api/logout', {
                method: 'GET',
                credentials: 'include'
            });

            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Gagal logout. Silakan coba lagi.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('Terjadi kesalahan saat logout');
        }
    }
}

document.addEventListener('DOMContentLoaded', () => {
    console.log('Halaman telah dimuat sepenuhnya.');
});
</script>

</body>
</html>