* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
}

.container {
    display: flex;
}

.navigasi {
    width: 250px;
    background-color: #FF1493;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

.judul {
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gambar {
    width: 100%;
    text-align: center;
}

img {
    width: 50%;
    border-radius: 50%;
}

h2 {
    color: white;
}

.list {
    width: 100%;
}

ul {
    text-align: left;
    margin-left: 30px;
    margin-top: 30px;
}

li {
    margin-right: 30px;
    border-bottom: 1px solid white;
    padding: 20px 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #4B4B4B;
    transition: 0.1s;
}

.konten {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    height: 10px;
    /* ini untuk tinggi kontennta */
}

.isi-konten {
    /* background-color: #FF1493; */
    width: 95%;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    border: none;
}

th,
td {
    padding: 10px;
    border: none;
}

th {
    background-color: #FF1493;
    color: #333;
    font-weight: bold;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}


td:last-child {
    text-align: center;
}

td:first-child {
    text-align: center;
}


.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    margin: 0 5px;
}

.con-button {
    display: flex;
    justify-content: space-between;
}

.tambah {
    background-color: rgb(37, 223, 37);
    margin-bottom: 15px;

}

.edit {
    background-color: #00BFFF;
    width: 60px;
}

.delete {
    background-color: #f44336;
}

.mundur {
    margin-top: 15px;
    background-color: #808080;
}

.maju {
    margin-top: 15px;
    background-color: #808080;
}

.reset {
    background-color: #ff3535;
}

.btn:hover {
    opacity: 0.8;
}

/* .tengah {
    text-align: center;
} */

.gambar-barang {
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: rgb(37, 223, 37);
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    width: 70px;
}

.pagination button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination span {
    margin: 0 10px;
    font-weight: bold;
}

#startDate,
#endDate {
    /* width: 100%; */
    padding: 3px 4px;
    font-size: 15px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 15px;
    font-weight: bold;
}